<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>

<body>
    <%- include ('partials/navbar.ejs', {pageName: "Events"})%>
    <p><a href="/events/add">Add Event</a></p>
    <table border="1">
        <h2>Currency</h2>
    <p><a href="/events/en">USD</a> | <a href="/events/id">IDR</a></p>
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
                <th>Location</th>
                <th>Date</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <% events.forEach((el) => {%>
        <tbody>
            <tr>
                <td><%= el.name %></td>
                <td><%= currencyConverter(el.price, "IDR") %></td>
                <td><%= el.description %></td>
                <td><%= el.location %></td>
                <td><%= el.date %></td>
                <td><%= el.tags %></td>
                <td><a href="/events/edit/<%=el.id%>">Edit</a> | <a href="/events/delete/<%=el.id%>">Delete</a> | <a href="/events/join/<%=el.id%>" onclick="return alert('Thanks for registering! You'll be redirected.')">Join!</a></td>
            </tr>
        </tbody>
        <%})%>
    </table>
    <%- include ('partials/footer.ejs') %> 
</body>

</html>

