<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>

<body>
    <%- include ('partials/navbar.ejs', {pageName: "Events"})%>
    <p><a href="/event/add">Add Event</a></p>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
                <th>Location</th>
                <th>Date</th>
                <th>Tags</th>
            </tr>
        </thead>
        <% events.forEach((el) => {%>
        <tbody>
            <tr>
                <td><%= el.name %></td>
                <td><%= el.price %></td>
                <td><%= el.description %></td>
                <td><%= el.location %></td>
                <td><a href="/event/edit/<%=el.id%>">Edit</a> | <a href="/event/delete/<%=el.id%>">Delete</a> | <a href="/event/join/<%=el.id%>">Join!</a></td>
            </tr>
        </tbody>
        <%})%>
    </table>
    <%- include ('partials/footer.ejs') %> 
</body>

</html>
%
